{% extends "!layout.html" %}
{% block sidebartitle %}
{{ super() }}
<br>
<a href="https://chat.hyperledger.org">Rocket Chat</a>  <a href="https://jenkins.hyperledger.org/">CI</a>
<a href="http://stackoverflow.com/questions/tagged/hyperledger-fabric">StackOverflow</a>
<br>
{% endblock %}

{% block menu %}
    {{ super() }}
    <li class="toctree-l1"><a class="reference internal" href="{{ pathto('genindex') }}">Index</a></li>
    <li class="toctree-l1"><a class="reference internal" href="{{ pathto('py-modindex') }}">Modules index</a></li>
{% endblock %}


{% block footer %}
        <!-- your html code here -->
{% endblock %}
